.file_input_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.file_input_wrapper input {
  width: 25px;
}
.file_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.fileImage {
  border-radius: 5px;
  position: relative;
}
.delete {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 0.75rem;
  text-align: center;
}
.delete > svg {
  color: var(--black-color);
}
.delete > svg:hover {
  scale: 1.1;
  color: var(--primary-color);
}
.fileImage img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.fileLabel {
  cursor: pointer;
  font-size: 1rem;
}
.fileLabel > svg {
  color: var(--black-color);
}
