* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-light-color);
  max-width: 1500px;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --primary-color: #0000ff;
  --white-light-color: #f6f6f6;
  --light-black-color: #1b222f;
  --yellow-color: #ffd000;
  --light-yellow-color: #ffca4f;
  --black-000c1e--color: #000c1e;
  --black-1b1b17--color: #1b1b17;
  --black-1b222f--color: #1b222f;
  --lighted-black-color: #1b323f;

  --dark-color: #2b2b2b;
  --box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  --primary-font-family: "Titillium Web";
  --secondary-font-family: "Cormorant Garamond";
  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  --hover-transition: transform 1.25s cubic-bezier(0.23, 1, 0.23, 1),
    -webkit-transform 1.25s cubic-bezier(0.23, 1, 0.23, 1);
  --time-animation: 1s;
  --transform-translateXR: 25%;
  --transform-translateXL: -25%;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #c8cccf;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --background-color-hamburger: radial-gradient(
    74.17% 74.17% at 50% 78.96%,
    rgba(51, 51, 51, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  --background-header-color: linear-gradient(
    77deg,
    rgba(20, 21, 28, 0.6) 0%,
    rgba(41, 44, 51, 0.6) 100%
  );
  --background-header-contract-color: linear-gradient(
    77deg,
    rgba(235, 234, 227, 0.6) 0%,
    rgba(214, 211, 204, 0.6) 100%
  );
}
