.main {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main > * {
  z-index: inherit;
}
.dark-theme {
  background-color: var(--black-color);
  color: var(--white-light-color);
}
.main ul {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.main ul li {
  margin: 0 2rem;
}
.main > input {
  display: none;
}
.main > label {
  background-color: var(--white-light-color);
  cursor: pointer;
  height: 15px;
  width: 50px;
  border-radius: 10px;
  border: 1.5px solid black;
  display: flex;
  align-items: center;
}
.main > label div {
  position: relative;
  left: -32.5%;
  border: 1.5px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--white-light-color);
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main > input:checked + label > div {
  transform: translate(50px);
}
.images {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images > img {
  border-radius: 50%;
}
.main > a {
  all: unset;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}
