.section {
  padding: 10rem 4.8rem 1rem 4.8rem;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000c1e, #1b1b17);
  padding-bottom: 3rem;
  min-height: 80vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: enter 1s forwards;
}
@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content > h1 {
  position: relative;
  font-size: 4rem;
  margin: 0;
  color: white;
}
.content > p {
  position: relative;
  font-size: 1.5rem;
  color: var(--gray);
}
.content > a {
  all: unset;
  position: relative;
  margin-top: 3rem;
  background-color: #1b222f;
  appearance: none;
  border-radius: 10px;
  padding: 0.75rem 1.7rem;
  color: var(--white-light-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
}
.shape {
  position: absolute;
  background-color: #1b222f;
  border-radius: 50%;
  height: 850px;
  width: 850px;
  top: -425px;
  left: -425px;
  animation: resize 1.5s forwards;
}
@keyframes resize {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@media screen and (max-width: 940px) {
  .section {
    padding: 6rem 3.5rem 1rem 3.5rem;
    min-height: 70vh;
  }
  .content > h1 {
    font-size: 3rem;
  }
  .content > p {
    font-size: 1.25rem;
  }
  .shape {
    height: 700px;
    width: 700px;
    top: -350px;
    left: -350px;
  }
  .content > a {
    padding: 0.5rem 1.2rem;
  }
}
@media screen and (max-width: 540px) {
  .section {
    padding: 4rem 3rem 1rem 3rem;
    min-height: 50vh;
  }
  .content > h1 {
    font-size: 2rem;
  }
  .content > p {
    font-size: 1rem;
  }
  .shape {
    height: 400px;
    width: 400px;
    top: -200px;
    left: -200px;
  }
  .content > a {
    padding: 0.5rem 1rem;
  }
}
